<section class="section-shaped my-0">
  <div class="shape mt-5 p-3">
    <div class="card shadow border-0">
      <div class="card-body py-3">
        <div class="header-card col-md-12 p-0">
          <h2 class="mt-2">Lista de oferta académica</h2>
          <button
            type="button"
            class="btn btn-primary"
            [routerLink]="['/user-panel/offers/create']"
          >
            Nueva Oferta
          </button>
        </div>
        <hr class="m-3" />
        <div class="row col-md-12 p-0">
          <div class="form-group mt-3 col-md-3">
            <label>Programa: </label>
            <select class="form-control">
              <option *ngFor="let type of typeList">{{ type.name }}</option>
            </select>
          </div>
          <div class="form-group mt-3 col-md-3">
            <label>Modalidad: </label>
            <select class="form-control">
              <option *ngFor="let mode of modesList">{{ mode.name }}</option>
            </select>
          </div>
        </div>
        <div class="table-responsive mt-3">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Título</th>
                <th scope="col">Programa</th>
                <th scope="col">Ver más</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let offer of offers">
                <th>{{ offer.codigo }}</th>
                <td>{{ offer.carrera }}</td>
                <td>{{ offer.programa }}</td>
                <td class="d-flex" style="justify-content: space-around">
                  <button
                    class="btn btn-outline-custom btn-outline-primary"
                    type="button"
                    placement="top"
                    ngbTooltip="Ver más"
                    [routerLink]="[
                      '/user-panel/offers/edit/' + offer.carreraId
                    ]"
                  >
                    <span class="btn-inner--icon">
                      Ver más
                      <!-- <i class="ni ni-palette"></i>  -->
                    </span>
                  </button>
                  <!-- <button
                    class="btn btn-icon btn-2 btn-danger"
                    type="button"
                    placement="top"
                    ngbTooltip="Eliminar"
                  >
                    <span class="btn-inner--icon">
                      <i class="ni ni-fat-remove"></i>
                    </span>
                  </button> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ngb-pagination
          [collectionSize]="totalSize"
          [pageSize]="10"
          [(page)]="page"
          (pageChange)="refreshData()"
          aria-disabled="true"
          aria-current="false"
        >
          <span ngbPaginationPrevious aria-disabled="true" aria-current="false"
            ><i _ngcontent-c9="" class="fa fa-angle-left" aria-disabled="true"></i
          ></span>
          <span ngbPaginationNext aria-current="false" aria-disabled="true"
            ><i _ngcontent-c9="" class="fa fa-angle-right"></i
          ></span>
          <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
        </ngb-pagination>
      </div>
    </div>
  </div>
</section>
