@import '/src/assets/scss/custom/variables.scss';

.header-card {
    display: flex;
    justify-content: space-between;

    button {
        padding: 10px 15px;
        font-size: 0.85rem;
        font-weight: 500;
        max-height: 45px;
    }
}

td {
    color: black;
    font-size: 0.85rem;
}