<div class="section section-shaped">
    <div class="shape shape-style-1 shape-default">
    </div>
    <section class="section-sm container py-lg-md d-flex ">

        <h1 class="display-3  text-white">{{ type.name }}</h1>
    </section>
</div>

<section class="container">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel *ngFor="let course of courses">
      <ng-template ngbPanelHeader let-opened="opened" [closeOthers]="true" activeIds="{{course.carreraId}}">
        <div class="d-flex align-items-center justify-content-between">
          <span>{{ course.carrera }}</span>
          <button ngbPanelToggle class="btn btn-link p-0"> <fa-icon [icon]="circle" size="lg"></fa-icon></button>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

</section>