<section class="section-shaped my-0">
  <div class="shape mt-5 p-3">
    <div class="card shadow border-0">
      <div *ngIf="path" class="card-body py-3">
        <div class="header-card col-md-12 p-0">
          <h2 class="mt-2">
            {{ path === "create" ? "Crear" : "Editar" }} oferta académica
          </h2>
        </div>
        <ngx-bootstrap-spinner
        bdColor="rgba(0, 0, 0, 0.8)"
        size="default"
        color="#fff"
        type="border"
        [fullScreen]="true"
        loadingText="Actualizando"
      >
      </ngx-bootstrap-spinner>
        <hr class="m-3" />
        <div *ngIf="offerForm" class="">
          <form [formGroup]="offerForm" (submit)="submit()">
            <div class="d-flex wrap">
              <div *ngIf="path == 'create'" class="col-md-4">
                <div class="form-group">
                  <label>Tipo de programa: </label>
                  <select
                    class="form-control"
                    formControlName="programaEstudioId"
                  >
                    <option
                      [value]="type.id"
                      *ngFor="let type of typeList"
                    >
                      {{ type.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Código único:</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Código de programa"
                    formControlName="codigo"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Título:</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Título"
                    formControlName="nombre"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Descripción:</label>
                  <textarea
                    type="text"
                    class="form-control"
                    formControlName="descripcion"
                    placeholder="Descripción"
                    style="height: 46px"
                  ></textarea>
                </div>
              </div>
              <div *ngIf="path == 'create'" class="col-md-4">
                <div class="form-group">
                  <label>Sede:</label>
                  <select class="form-control" formControlName="campusId">
                    <option *ngFor="let sede of campusList" [value]="sede.id">
                      {{ sede.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Modalidad:</label>
                  <select class="form-control" formControlName="modalidad">
                    <option *ngFor="let mode of modesList" [value]="mode.id">
                      {{ mode.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Semestres/partes</label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="cantidadSemestres"
                    placeholder="Semestres/partes"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Cupos disponibles: </label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="cantidadCupos"
                    placeholder="Cupos"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Cantidad de Secciones: </label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="cantidadSecciones"
                    placeholder="Secciones"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Duración:</label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="duracion"
                    placeholder="Duración"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Pensum:</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="pensum"
                    placeholder="Pensum"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Aranceles:</label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="costo"
                    placeholder="Aranceles"
                  />
                </div>
              </div>
            </div>

            <!-- <div class="row">
              <div class="col-md-6">
                <div class="form-group has-success">
                  <input
                    type="text"
                    placeholder="Success"
                    class="form-control is-valid"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group has-danger">
                  <input
                    type="email"
                    placeholder="Error Input"
                    class="form-control is-invalid"
                  />
                </div>
              </div>
            </div> -->
            <hr class="m-3" />
            <div class="d-flex j-center">
              <button
                class="f-button btn btn-success"
                type="submit"
                [disabled]="offerForm.invalid"
              >
                {{ path === "create" ? "Crear" : "Editar" }} Oferta
              </button>
              <button
                class="f-button btn btn-danger"
                [routerLink]="['/user-panel/offers']"
              >
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
