<div class="section section-lg section-shaped pb-0">
  <div class="shape shape-style-1 shape-default">
  </div>
  <section class="section-lg container py-lg-md d-flex flex-column">
    <h1 class="display-3  text-white">Cartelera Informativa</h1>
  </section>
</div>
<section class="section section-lg" id="info">
  <div class="container">

    <div class="col-lg-12 mb-lg-auto bg-gradient-unexpo">
      <div class="rounded shadow-lg overflow-hidden">
        <ngb-carousel>
          <ng-template ngbSlide>
            <div class="col-lg-12 p-7 text-center">
              <div
                class="
                  icon icon-lg icon-shape
                  bg-gradient-white
                  shadow
                  rounded-circle
                  text-primary
                "
              >
                <i class="ni ni-settings text-primary"></i>
              </div>
              <h5 class="text-white mt-3">Building tools</h5>
              <p class="text-white mt-3">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="col-lg-12 p-7 text-center">
              <div
                class="
                  icon icon-lg icon-shape
                  bg-gradient-white
                  shadow
                  rounded-circle
                  text-primary
                "
              >
                <i class="ni ni-ruler-pencil text-primary"></i>
              </div>
              <h5 class="text-white mt-3">Grow your market</h5>
              <p class="text-white mt-3">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="p-7 col-lg-12 text-center">
              <div
                class="
                  icon icon-lg icon-shape
                  bg-gradient-white
                  shadow
                  rounded-circle
                  text-primary
                "
              >
                <i class="ni ni-atom text-primary"></i>
              </div>
              <h5 class="text-white mt-3">Launch time</h5>
              <p class="text-white mt-3">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
  <!-- SVG separator -->
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg
      x="0"
      y="0"
      viewBox="0 0 2560 100"
      preserveAspectRatio="none"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>
