<!-- <section class="section-profile-cover section-shaped my-0"> -->

<section class="section-shaped my-0">
  <div class="shape mt-5 p-3">
    <!-- General Info -->
    <div class="card shadow border-0">
      <div class="card-body py-3">
        <div class="info col-md-12 p-0">
          <div class="col-md-9 d-flex">
            <div class="col-md-6">
              <ul>
                <p>Cédula de identidad:</p>
                <p>Nombres:</p>
                <p>Apellidos:</p>
                <p>Expediente:</p>
                <p>Correo electrónico</p>
              </ul>
            </div>
            <div class="col-md-6">
              <ul>
                <p>Programa:</p>
                <p>Unidades de crédito cursadas:</p>
                <p>Unidades de crédito aprobadas:</p>
                <p>Índice académico:</p>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <img src="assets/img/theme/team-1-800x800.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
