<section class="section-shaped my-0">
  <div class="shape mt-5 p-3">
    <div class="card shadow border-0">
      <div class="card-body py-3">
        <div class="header-card col-md-12 p-0">
          <h2 class="mt-2">Usuarios registrados</h2>
        </div>
        <hr class="m-3" />
        <div class="row col-md-12 p-0">
          <div class="form-group mt-3 col-md-3">
            <label>Usuario: </label>
            <select class="form-control">
              <option *ngFor="let user of userType">{{ user.name }}</option>
            </select>
          </div>
          <div class="form-group mt-3 col-md-3">
            <label>Programa: </label>
            <select class="form-control">
              <option *ngFor="let type of typeList">{{ type }}</option>
            </select>
          </div>
          <div class="form-group mt-3 col-md-3">
            <label>Cédula: </label>
            <input
              type="text"
              class="form-control"
              placeholder="Nro de Cédula"
            />
          </div>
        </div>
        <div class="table-responsive mt-3">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">N° Cédula</th>
                <th scope="col">Nombres y Apellidos</th>
                <th scope="col">Programa</th>
                <th scope="col">Título</th>
                <th scope="col">Role</th>
                <th scope="col">Editar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>V-26.562.875</th>
                <td>Rojas Rojas Vicmar Stephany</td>
                <td>Doctorado</td>
                <td>Doctorado en Ciencias</td>
                <td>Estudiante</td>
                <td>
                  <button
                    class="btn btn-outline-custom btn-outline-primary"
                    type="button"
                    placement="top"
                    ngbTooltip="Editar"
                    (click)="openModal(classic, '', '')"
                  >
                    Editar
                  </button>
                  <div class="col-md-4">
                    <ng-template #classic let-c="close" let-d="dismiss">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h2>Asignar permisos</h2>
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                            (click)="d('Cross click')"
                          >
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <h3 style="font-weight: 500; color: black">
                            Datos Personales
                          </h3>
                          <div class="info col-sm-10 wrap px-0">
                            <div class="col-md-4">
                              <ul>
                                <p>Cédula:</p>
                                <p>Nombres:</p>
                                <p>Apellidos:</p>
                                <p>Expediente:</p>
                                <p>Email:</p>
                              </ul>
                            </div>
                            <div class="col-md-8">
                              <ul class="info-text">
                                <p>26.562.875</p>
                                <p>Vicmar Stephany</p>
                                <p>Rojas Rojas</p>
                                <p>546848456</p>
                                <p>Vicmarstephany@gmail.com</p>
                              </ul>
                            </div>
                          </div>
                          <h3
                            style="
                              font-weight: 500;
                              margin-top: 1rem;
                              color: black;
                            "
                          >
                            Permiso de usuario
                          </h3>
                          <div class="info col-sm-10 wrap px-0">
                            <div class="col-md-4">
                              <p>Rango: </p>
                            </div>
                            <div class="col-md-8 info-text">
                              <div>
                                <select class="form-control">
                                  <option *ngFor="let user of userType">{{ user.name }}</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-success">
                            Asignar Permisos
                          </button>
                          <button
                            type="button"
                            class="btn btn-link ml-auto text-danger"
                            data-dismiss="modal"
                            (click)="c('Close click')"
                          >
                            Cancelar
                          </button>
                        </div>
                      </div>
                    </ng-template>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
