<div class="container">
  <!-- <h3 class="mt-lg mb-4">
    <span>Alerts</span>
  </h3> -->
  <div>
    <ngb-alert
      [type]="alerts[alertId].type"
      [dismissible]="true"
      (close)="close(alerts[alertId])"
    >
      <ng-container *ngIf="alerts[alertId].icon">
        <div class="alert-inner--icon">
          <i class="{{ alerts[alertId].icon }}"></i>
        </div>
      </ng-container>
      <span class="alert-inner--text">
        <strong>{{ alerts[alertId].strong }} </strong
        >{{ messageAlert }}</span
      >
    </ngb-alert>
  </div>
</div>
