<main class="profile-page">
  <section class="section-shaped my-0">
    <div class="mt-5 p-3">
      <div class="card shadow border-0">
        <div class="card-body py-3">
          <div class="mt-3 px-0 d-flex col-sm-12">
            <div class="col-md-2 px-0">
              <img
                src="./assets/img/theme/team-1-800x800.jpg"
                alt="Rounded image"
                class="img-fluid rounded shadow"
                style="width: 100px"
              />
            </div>
            <div class="info col-md-10 wrap px-0">
              <div class="col-md-6">
                <ul>
                  <li >Cédula de identidad:</li>
                  <li>Nombres:</li>
                  <li>Apellidos:</li>
                  <li *ngIf="user.rolId == 1">Expediente:</li>
                  <li>Correo electrónico</li>
                </ul>
              </div>
              <div *ngIf="userInfo" class="col-md-6">
                <ul class="text-info">
                  <li *ngIf="user.rolId != 2 ">{{ user.cedula }}</li>
                  <li *ngIf="user.rolId == 2 ">Usuario Administrativo</li>
                  <li *ngIf="user.rolId == 3 ">Usuario Coordinador</li>
                  <li>{{ userInfo.nombres }}</li>
                  <li>{{ userInfo.apellidoPaterno }} {{ userInfo.apellidoMaterno }}</li>
                  <li *ngIf="user.rolId == 1">{{ user.id }}</li>
                  <li>{{ userInfo.correo1 }}</li>

                </ul>
              </div>

            </div>
          </div>
          <hr class="m-3" />
          <!-- <div class="mt-3 pt-3 pb-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg">
                <ngb-tabset
                  [justify]="'center'"
                  class="custom-tab-content flex-column flex-md-row"
                  type="pills"
                >
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <i class="ni ni-cloud-upload-96 mr-2"></i> Home
                    </ng-template>
                    <ng-template ngbTabContent>
                      <p class="description">
                        Raw denim you probably haven't heard of them jean shorts
                        Austin. Nesciunt tofu stumptown aliqua, retro synth
                        master cleanse. Mustache cliche tempor, williamsburg
                        carles vegan helvetica. Reprehenderit butcher retro
                        keffiyeh dreamcatcher synth.
                      </p>
                      <p class="description">
                        Raw denim you probably haven't heard of them jean shorts
                        Austin. Nesciunt tofu stumptown aliqua, retro synth
                        master cleanse.
                      </p>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <i class="ni ni-bell-55 mr-2"></i> Profile
                    </ng-template>
                    <ng-template ngbTabContent>
                      <p class="description">
                        Cosby sweater eu banh mi, qui irure terry richardson ex
                        squid. Aliquip placeat salvia cillum iphone. Seitan
                        aliquip quis cardigan american apparel, butcher
                        voluptate nisi qui.
                      </p>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <i class="ni ni-calendar-grid-58 mr-2"></i> Messages
                    </ng-template>
                    <ng-template ngbTabContent>
                      <p class="description">
                        Raw denim you probably haven't heard of them jean shorts
                        Austin. Nesciunt tofu stumptown aliqua, retro synth
                        master cleanse. Mustache cliche tempor, williamsburg
                        carles vegan helvetica. Reprehenderit butcher retro
                        keffiyeh dreamcatcher synth.
                      </p>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </section>
</main>
