<app-navbar-auth></app-navbar-auth>
<main>
  <section class="section section-shaped section-lg">
    <app-bubbles></app-bubbles>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="">
          <div class="card bg-secondary shadow border-0">
            <div class="text-center text-muted pt-lg-5">
              <h2>Preinscripción</h2>
            </div>
            <div *ngIf="titlePage == 1" class="card-body px-lg-5 pb-lg-5 pt-3">
              <div class="text-center text-muted">
                <h2 class="pb-5">Información personal</h2>
              </div>
              <form role="form" [formGroup]="personalInfoForm" (submit)="personalInfo()">
                <div class="col-12 d-flex p-0">
                  <div class="form-group col-md-4">
                    <label>Nombres <span>*</span></label>
                    <div class="input-group mb-3">
                      <input
                        class="form-control"
                        placeholder="Nombres"
                        formControlName="nombres"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Apellido paterno <span>*</span></label>
                    <div class="input-group mb-3">
                      <input
                        class="form-control"
                        placeholder="Apellidos"
                        formControlName="apellidoPaterno"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Apellido materno <span>*</span></label>
                    <div class="input-group mb-3">
                      <input
                        class="form-control"
                        placeholder="Apellidos"
                        formControlName="apellidoMaterno"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-12 d-flex p-0">
                  <div class="form-group col-md-4">
                    <label>Cédula <span>*</span></label>
                    <div class="input-group mb-3">
                      <input
                        class="form-control"
                        placeholder="Cédula de identidad"
                        formControlName="idNumber"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Sexo <span>*</span></label>
                    <div class="input-group mb-3">
                      <select class="form-control" formControlName="sexo">
                        <option *ngFor="let type of sexo" [value]="type.id">
                          {{ type.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Fecha de nacimiento <span>*</span></label>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="ni ni-calendar-grid-58"></i
                          ></span>
                        </div>
                        <!--[(ngModel)]="model" -->
                        <input
                          class="form-control datepicker"
                          placeholder="Ingresar fecha"
                          name="dp"
                          formControlName="fechaNacimiento"
                          ngbDatepicker
                          #d="ngbDatepicker"
                          (click)="d.toggle()"
                          type="text"
                          autocomplete="off"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 d-flex p-0">
                  <div class="form-group col-md-4">
                    <label>País de nacimiento <span>*</span></label>
                    <div class="input-group mb-3">
                      <select class="form-control" formControlName="pais">
                        <option [value]="pais.pais" *ngFor="let pais of paises">{{ pais.pais }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Estado de nacimiento <span>*</span></label>
                    <div class="input-group mb-3" (click)="getCities(personalInfoForm.controls['estado'].value)">
                      <select class="form-control" formControlName="estado" >
                        <option [value]="estado.id" *ngFor="let estado of estados" >{{ estado.name }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Ciudad de nacimiento <span>*</span></label>
                    <div class="input-group mb-3">
                      <select class="form-control" formControlName="ciudadNacimiento">
                        <option [value]="city.ciudad" *ngFor="let city of citiesSelected">{{ city.ciudad }}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-12 d-flex p-0">
                   <div class="form-group col-md-4">
                    <label>Teléfono habitacional <span>*</span></label>
                    <div class="input-group mb-3">
                      <input
                        class="form-control"
                        placeholder="Teléfono habitacional"
                        formControlName="telefono1"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Teléfono móvil <span>*</span></label>
                    <div class="input-group mb-3">
                      <input
                        class="form-control"
                        placeholder="Teléfono móvil"
                        formControlName="celular1"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Teléfono móvil secundario <span>*</span></label>
                    <div class="input-group mb-3">
                      <input
                        class="form-control"
                        placeholder="Teléfono móvil secundario"
                        formControlName="celular2"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-12 d-flex p-0">
                  <div class="form-group col-md-4">
                    <label>Correo electrónico <span>*</span></label>
                    <div class="input-group mb-3">
                      <input
                        class="form-control"
                        placeholder="Correo electrónico"
                        formControlName="correo1"
                        type="email"
                      />
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Correo electrónico secundario <span>*</span></label>
                    <div class="input-group mb-3">
                      <input
                        class="form-control"
                        placeholder="Correo electrónico"
                        formControlName="correo2"
                        type="email"
                      />
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Dirección habitacional <span>*</span></label>
                    <div class="input-group mb-3">
                      <input
                        class="form-control"
                        placeholder="Dirección"
                        formControlName="direccion1"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-12 d-flex p-0"> 
                  <div class="form-group col-md-4">
                    <label>Dirección hab. secundaria<span>*</span></label>
                    <div class="input-group mb-3">
                      <input
                        class="form-control"
                        placeholder="Dirección"
                        formControlName="direccion2"
                        type="text"
                      />
                    </div>
                  </div>
                </div>

                <div class="text-center">
                  <button
                    [disabled]="personalInfoForm.invalid"
                    type="submit"
                    class="btn btn-primary mt-4"
                  >
                    Siguiente
                  </button>
                </div>
              </form>
            </div>

            <div *ngIf="titlePage == 2" class="card-body px-lg-5 pb-lg-5 pt-3">
              <div class="text-center text-muted">
                <h2 class="pb-5">Información académica</h2>
              </div>
              <form role="form" [formGroup]="academicForm" (submit)="signup()">
                <div class="col-12 d-flex p-0">
                  <div class="form-group col-md-4">
                    <label>Grado de estudio <span>*</span></label>
                    <div class="input-group mb-3">
                      <input
                        class="form-control"
                        placeholder="Grado académico"
                        formControlName="gradoEstudios"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Título <span>*</span></label>
                    <div class="input-group mb-3">
                      <input
                        class="form-control"
                        placeholder="Título académico"
                        formControlName="titulo"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Año de promoción <span>*</span></label>
                    <div class="input-group mb-3">
                      <input
                        class="form-control"
                        placeholder="Año de promoción"
                        formControlName="anoPromocion"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-12 d-flex p-0">
                  <div class="form-group col-md-4">
                    <label>Institución <span>*</span></label>
                    <div class="input-group mb-3">
                      <input
                        class="form-control"
                        placeholder="Institución de egreso"
                        formControlName="institucion"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>País <span>*</span></label>
                    <div class="input-group mb-3">
                      <select class="form-control" formControlName="pais">
                        <option *ngFor="let type of paises" [value]="type">
                          {{ type }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <!-- <div class="form-group col-md-4">
                    <label>Fecha de nacimiento <span>*</span></label>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="ni ni-calendar-grid-58"></i
                          ></span>
                        </div>
                        <input
                          class="form-control datepicker"
                          placeholder="Ingresar fecha"
                          name="dp"
                          formControlName="fechaNacimiento"
                          ngbDatepicker
                          #d="ngbDatepicker"
                          (click)="d.toggle()"
                          type="text"
                          autocomplete="off"
                        />
                      </div>
                    </div>
                  </div> -->
                </div>
                <!--
                <div class="col-12 d-flex p-0">
                  <div class="form-group col-md-4">
                    <label>Ciudad de nacimiento <span>*</span></label>
                    <div class="input-group mb-3">
                      <select class="form-control" formControlName="ciudadNacimiento">
                        <option [value]="city.ciudad" *ngFor="let city of cities">{{ city.ciudad }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Teléfono habitacional <span>*</span></label>
                    <div class="input-group mb-3">
                      <input
                        class="form-control"
                        placeholder="Teléfono habitacional"
                        formControlName="telefono1"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Teléfono móvil <span>*</span></label>
                    <div class="input-group mb-3">
                      <input
                        class="form-control"
                        placeholder="Teléfono móvil"
                        formControlName="celular1"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-12 d-flex p-0">
                  <div class="form-group col-md-4">
                    <label>Teléfono móvil secundario <span>*</span></label>
                    <div class="input-group mb-3">
                      <input
                        class="form-control"
                        placeholder="Teléfono móvil secundario"
                        formControlName="celular2"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Correo electrónico <span>*</span></label>
                    <div class="input-group mb-3">
                      <input
                        class="form-control"
                        placeholder="Correo electrónico"
                        formControlName="correo1"
                        type="email"
                      />
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Correo electrónico secundario <span>*</span></label>
                    <div class="input-group mb-3">
                      <input
                        class="form-control"
                        placeholder="Correo electrónico"
                        formControlName="correo2"
                        type="email"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-12 d-flex p-0"> 
                  <div class="form-group col-md-4">
                    <label>Dirección habitacional <span>*</span></label>
                    <div class="input-group mb-3">
                      <input
                        class="form-control"
                        placeholder="Dirección"
                        formControlName="direccion1"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Dirección hab. secundaria<span>*</span></label>
                    <div class="input-group mb-3">
                      <input
                        class="form-control"
                        placeholder="Dirección"
                        formControlName="direccion2"
                        type="text"
                      />
                    </div>
                  </div>
                </div> -->


                <div class="text-center">
                  <button
                    type="submit"
                    class="btn btn-primary mt-4"
                    (click)="titlePage = 1"
                  >
                    Atras
                  </button>

                  <button
                    [disabled]="academicForm.invalid"
                    type="submit"
                    class="btn btn-primary mt-4"
                  >
                    Preinscribirme
                  </button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
