<nav
  id="navbar-main"
  class="
    navbar navbar-main navbar-expand-lg navbar-transparent navbar-light
    headroom headroom--top headroom--pinned
  "
>
  <div class="container-nav container">
    <a class="navbar-brand navbar-logo mr-lg-5" [routerLink]="['/home']">
      <img src="./assets/img/logo_unexpo_blanco.png" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="navbar_global"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="navbar-collapse collapse"
      id="navbar_global"
      [ngbCollapse]="isCollapsed"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/logo_unexpo_azul.png" />
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button
              type="button"
              class="navbar-toggler"
              (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="navbar_global"
            >
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li *ngFor="let item of navbar" class="nav-item dropdown">
          <a
            class="nav-link no-caret"
            data-toggle="dropdown"
            role="button"
            [routerLink]="[item.path]"
          >
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">{{ item.name }}</span>
          </a>
          <div *ngIf="item.childs == true" class="dropdown-menu" aria-labelledby="categoriesMenu">
            <a
              *ngFor="let item of navbarChild"
              class="dropdown-item"
              [routerLink]="[item.path + item.name]"
              (click)="checkType(item.name)"
              >{{ item.name }}
            </a>
          </div>
        </li>
        <!--   <li class="nav-item dropdown">
          <a
            class="nav-link no-caret"
            data-toggle="dropdown"
            role="button"
            [routerLink]="['/institution']"
          >
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Institución</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link no-caret"
            data-toggle="dropdown"
            role="button"
            id="categoriesMenu"
            aria-haspopup="true"
            aria-expanded="false"
            [routerLink]="['/courses/all']"
          >
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Oferta académica</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="categoriesMenu">
            <a
              *ngFor="let course of courses"
              class="dropdown-item"
              [routerLink]="['/courses/' + course]"
              (click)="checkType(course)"
              >{{ course }}
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link no-caret"
            data-toggle="dropdown"
            role="button"
            [routerLink]="['/info-board']"
          >
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Cartelera informativa</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link no-caret"
            data-toggle="dropdown"
            role="button"
            [routerLink]="['/contact']"
          >
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Contáctanos</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Aulas</span>
          </a>
        </li> -->
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link no-caret"
            [routerLink]="['/login']"
            role="button"
            target="_blank"
          >
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-log nav-link-inner--text"
              >Iniciar sesión</span
            >
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link no-caret"
            [routerLink]="['/register']"
            role="button"
          >
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-log nav-link-inner--text">Registrarse</span>
          </a>
        </li>
      </ul>
      <!-- <ul
        *ngIf="user"
        class="navbar-nav navbar-nav-hover align-items-lg-center ml-lg-auto"
      >
        <li class="nav-item dropdown">
          <a
            class="nav-link no-caret"
            data-toggle="dropdown"
            role="button"
            id="profile"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">{{ user.nombres }}</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="profile">
            <a class="dropdown-item" [routerLink]="['/profile']">Perfil </a>
            <a class="dropdown-item" [routerLink]="['/profile/resume']"
              >Mis cursos
            </a>
            <a class="dropdown-item" (click)="logOut()">Cerrar Sesión </a>
          </div>
        </li>
      </ul> -->
    </div>
  </div>
</nav>
