<footer class="footer">
  <div class="container">
    <!-- <div class="row row-grid align-items-center">
      <div class="col-md-6">
        <h4 class="text-primary font-weight-normal mb-2">REDES SOCIALES</h4>
      </div>
      <div class="col-md-6"></div>
    </div> -->
    <div class="row align-items-center justify-content-md-between">
      <div class="d-flex col-md-12">
        <div class="col-md-8 copyright d-flex align-items-center">
          &copy; {{ test | date: "yyyy" }}
          <a href="/" target="_blank"
            >  Universidad Nacional Experimental Politécnica "Antonio José de
            Sucre"</a
          >.
        </div>
        <div class="col-md-4 btn-wrapper p-0 d-flex align-items-baseline">
          <h4 class="text-primary font-weight-normal mb-2">REDES SOCIALES</h4>
          <a
            target="_blank"
            href="https://twitter.com/Unexpove"
            class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-sm"
            ngbTooltip="Síguenos"
          >
            <i class="fa fa-twitter"></i>
          </a>
          <a
            target="_blank"
            href="https://www.facebook.com/Unexpove"
            class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-sm"
            ngbTooltip="Síguenos"
          >
            <i class="fa fa-facebook-square"></i>
          </a>
          <a
            target="_blank"
            href="https://www.instagram.com/Unexpove"
            class="btn btn-neutral btn-icon-only btn-instagram btn-round btn-sm"
            ngbTooltip="Síguenos"
          >
            <i class="fa fa-instagram"></i>
          </a>
          <a
          target="_blank"
          href="https://www.youtube.com/Unexpove"
          class="btn btn-neutral btn-icon-only btn-youtube btn-round btn-sm"
          ngbTooltip="Síguenos"
        >
          <i class="fa fa-youtube"></i>
        </a>
        </div>
      </div>
    </div>
  </div>
</footer>
