<section class="section-profile-cover section-shaped my-0">
  <div class="shape mt-5 p-3">
    <!-- General Info -->
    <div class="card shadow border-0">
      <div class="card-body py-3">
        <div class="info col-md-12 p-0">
          <div class="col-md-6">
            <div class="col-md-6">
              <ul>
                <p>Cédula de identidad:</p>
                <p>Nombres:</p>
                <p>Apellidos:</p>
                <p>Expediente:</p>
                <p>Carrera:</p>
              </ul>
            </div>
            <div class="col-md-6">
              <ul>
                <p>Estatus:</p>
                <p>Unidades de crédito cursadas:</p>
                <p>Unidades de crédito aprobadas:</p>
                <p>Índice académico:</p>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-6">
              <ul>
                <p>Cédula de identidad:</p>
                <p>Nombres:</p>
                <p>Apellidos:</p>
                <p>Expediente:</p>
                <p>Carrera:</p>
              </ul>
            </div>
            <div class="col-md-6">
              <ul>
                <p>Estatus:</p>
                <p>Unidades de crédito cursadas:</p>
                <p>Unidades de crédito aprobadas:</p>
                <p>Índice académico:</p>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card shadow border-0 mt-4">
      <div class="card-body py-3">
        <div class="form-group mt-3">
          <label>Programa: </label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option *ngFor="let item of careerList">{{ item.name }}</option>
          </select>
        </div>

        <label class="my-3">Notas: </label>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">U.C.</th>
                <th scope="col">Asignatura</th>
                <th scope="col">Nota</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Argon Design System</span>
                    </div>
                  </div>
                </th>
                <td>$2,500 USD</td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> pending
                  </span>
                </td>
                <td>
                  <div class="avatar-group">
                    <a
                      href="javascript:void(0)"
                      class="avatar avatar-sm"
                      data-toggle="tooltip"
                      data-original-title="Ryan Tompson"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/theme/team-1-800x800.jpg"
                        class="rounded-circle"
                      />
                    </a>
                    <a
                      href="javascript:void(0)"
                      class="avatar avatar-sm"
                      data-toggle="tooltip"
                      data-original-title="Romina Hadid"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/theme/team-2-800x800.jpg"
                        class="rounded-circle"
                      />
                    </a>
                    <a
                      href="javascript:void(0)"
                      class="avatar avatar-sm"
                      data-toggle="tooltip"
                      data-original-title="Alexander Smith"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/theme/team-3-800x800.jpg"
                        class="rounded-circle"
                      />
                    </a>
                    <a
                      href="javascript:void(0)"
                      class="avatar avatar-sm"
                      data-toggle="tooltip"
                      data-original-title="Jessica Doe"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/theme/team-4-800x800.jpg"
                        class="rounded-circle"
                      />
                    </a>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Angular Now UI Kit PRO</span>
                    </div>
                  </div>
                </th>
                <td>$1,800 USD</td>
                <td>
                  <span class="badge badge-dot">
                    <i class="bg-success"></i> completed
                  </span>
                </td>
                <td>
                  <div class="avatar-group">
                    <a
                      href="javascript:void(0)"
                      class="avatar avatar-sm"
                      data-toggle="tooltip"
                      data-original-title="Ryan Tompson"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/theme/team-1-800x800.jpg"
                        class="rounded-circle"
                      />
                    </a>
                    <a
                      href="javascript:void(0)"
                      class="avatar avatar-sm"
                      data-toggle="tooltip"
                      data-original-title="Romina Hadid"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/theme/team-2-800x800.jpg"
                        class="rounded-circle"
                      />
                    </a>
                    <a
                      href="javascript:void(0)"
                      class="avatar avatar-sm"
                      data-toggle="tooltip"
                      data-original-title="Alexander Smith"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/theme/team-3-800x800.jpg"
                        class="rounded-circle"
                      />
                    </a>
                    <a
                      href="javascript:void(0)"
                      class="avatar avatar-sm"
                      data-toggle="tooltip"
                      data-original-title="Jessica Doe"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/theme/team-4-800x800.jpg"
                        class="rounded-circle"
                      />
                    </a>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Black Dashboard</span>
                    </div>
                  </div>
                </th>
                <td>$3,150 USD</td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-danger"></i> delayed
                  </span>
                </td>
                <td>
                  <div class="avatar-group">
                    <a
                      href="javascript:void(0)"
                      class="avatar avatar-sm"
                      data-toggle="tooltip"
                      data-original-title="Ryan Tompson"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/theme/team-1-800x800.jpg"
                        class="rounded-circle"
                      />
                    </a>
                    <a
                      href="javascript:void(0)"
                      class="avatar avatar-sm"
                      data-toggle="tooltip"
                      data-original-title="Romina Hadid"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/theme/team-2-800x800.jpg"
                        class="rounded-circle"
                      />
                    </a>
                    <a
                      href="javascript:void(0)"
                      class="avatar avatar-sm"
                      data-toggle="tooltip"
                      data-original-title="Alexander Smith"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/theme/team-3-800x800.jpg"
                        class="rounded-circle"
                      />
                    </a>
                    <a
                      href="javascript:void(0)"
                      class="avatar avatar-sm"
                      data-toggle="tooltip"
                      data-original-title="Jessica Doe"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/theme/team-4-800x800.jpg"
                        class="rounded-circle"
                      />
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
