<section class="section-profile-cover section-shaped my-0">
  <div class="shape mt-5 p-3">
    <!-- General Info -->
    <div class="card shadow border-0">
      <div class="card-body py-3">
        <div class="info col-md-12 p-0">
          <div class="col-md-6">
            <div class="col-md-6">
              <ul>
                <p>Cédula de identidad:</p>
                <p>Nombres:</p>
                <p>Apellidos:</p>
                <p>Expediente:</p>
                <p>Carrera:</p>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="text-info" *ngIf="userInfo">
                <p>{{ user.cedula }}</p>
                <p>{{ userInfo.nombres}}</p>
                <p>{{ userInfo.apellidoPaterno }} {{ userInfo.apellidoMaterno }}</p>
                <p>{{ user.id }}</p>
                <p>...</p>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-6">
              <ul>
                <p>Estatus:</p>
                <p>Unidades de crédito cursadas:</p>
                <p>Unidades de crédito aprobadas:</p>
                <p>Índice académico:</p>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="text-info" *ngIf="userInfo">
                <p>:</p>
                <p>:</p>
                <p>:</p>
                <p>:</p>
                <p>...</p>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card shadow border-0 mt-4">
      <div class="card-body py-3">
        <div class="form-group mt-3">
          <label>Programa: </label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option *ngFor="let item of careerList">{{ item.name }}</option>
          </select>
        </div>

        <label class="my-3">Notas: </label>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">U.C.</th>
                <th scope="col">Asignatura</th>
                <th scope="col">Nota</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">458</span>
                    </div>
                  </div>
                </th>
                <td>2</td>
                <td>Matemáticas II</td>
                <td>9</td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">748</span>
                    </div>
                  </div>
                </th>
                <td>1</td>
                <td>Lógica computacional</td>
                <td>8</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
