@import '/src/assets/scss/custom/variables.scss';

.section-profile-cover {
    height: 0px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    
    p{
        font-size: 0.875rem;
        margin: 0px !important;
        color: $gray-800;
        font-weight: $font-weight-regular;
    }
    ul{
        margin: 0px;
        padding: 1rem 0px;
    }

    .col-md-6 {
        flex-wrap: wrap;
        display: flex;
        padding-left: 0px;
    }
}

.table-responsive {
    border-radius: 0.25rem;
    box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%) !important;
}

.shape {
    span {
        position: inherit !important;
    }
}
