<section class="section-shaped my-0">
  <div class="shape mt-5 p-3">
    <div class="card shadow border-0">
      <div class="card-body py-3">
        <div class="header-card col-md-12 p-0">
          <h2 class="mt-2">Aulas virtuales</h2>
        </div>
        <hr class="m-3" />
        <div class="card-body py-2">
          <div class="row col-md-12 p-0">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
              <ngb-panel>
                <ng-template ngbPanelHeader let-opened="opened">
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <span>Título de en oferta </span>
                    <button ngbPanelToggle class="btn btn-link p-0">
                      +
                    </button>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life
                  accusamus terry richardson ad squid. 3 wolf moon officia
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
