<section class="section-shaped my-0">
    <div class="shape mt-5 p-3">
      <div class="card shadow border-0">
        <div class="card-body py-3">
          <div class="header-card col-md-12 p-0">
            <h2 class="mt-2">Registrar pago</h2>
          </div>
          <hr class="m-3" />
        </div>
        <div class="p-3">
          <h2 class="px-3">Actualizar datos</h2>
          <div class="row col-md-12">
            <div class="col-md-4">
              <div class="form-group">
                <label>Nuevo correo electrónico:</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Correo electrónico"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Nuevo número de teléfono:</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Teléfono"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Nueva dirección:</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Dirección"
                />
              </div>
            </div>
          </div>
          <div class="d-flex j-center mt-2">
            <button class="f-button btn btn-success" type="submit">
              Actualizar
            </button>
          </div>
        </div>
        <div class="p-3">
          <h2 class="px-3">Cambiar contraseña</h2>
          <div class="row col-md-12">
            <div class="col-md-4">
              <div class="form-group">
                <label>Contraseña actual:</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Contraseña actual"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Nueva contraseña:</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nueva contraseña"
                />
              </div>
            </div>
          </div>
          <div class="d-flex j-center mt-2">
            <button class="f-button btn btn-success" type="submit">
              Actualizar
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  