<section class="section section-lg" id="institution">
    <div class="container">
      <div class="row row-grid align-items-center">
        <!-- <div class="col-md-6 order-md-2">
          <img src="./assets/img/theme/promo-1.png" class="img-fluid floating">
        </div> -->
        <div class="col-md-12 order-md-1">
          <div class="">
            <!-- <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
              <i class="ni ni-settings-gear-65"></i>
            </div> -->
      <!--  <h3>NOSOTROS</h3>
            <p>The kit comes with three pre-built pages to help you get started faster. You can change the text and
              images and you're good to go.</p>
             <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Carefully crafted components</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-html5"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Amazing page examples</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-satisfied"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Super friendly support team</h6>
                  </div>
                </div>
              </li>
            </ul> -->
            <div class="mt-4">
              <div class="card bg-gradient-info shadow-lg border-0">
                <div class="p-5">
                  <div class="row align-items-center">
                    <div class="col-lg-8">
                      <h3 class="text-white">MISIÓN</h3>
                      <p class="lead text-white mt-3">I will be the leader of a company that ends up being worth
                        billions of
                        dollars, because I got the answers. I understand culture.</p>
                    </div>
                    <div class="col-lg-3 ml-lg-auto">
                      <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-landing-page"
                        class="btn btn-lg btn-block btn-white">Download Angular</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-4">
              <div class="card bg-gradient-info shadow-lg border-0">
                <div class="p-5">
                  <div class="row align-items-center">
                    <div class="col-lg-3 ml-lg-auto">
                      <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-landing-page"
                        class="btn btn-lg btn-block btn-white">Download Angular</a>
                    </div>
                    <div class="col-lg-8">
                      <h3 class="text-white">VISIÓN</h3>
                      <p class="lead text-white mt-3">I will be the leader of a company that ends up being worth
                        billions of
                        dollars, because I got the answers. I understand culture.</p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>