<div class="section section-lg section-shaped">
  <div class="shape shape-style-1 shape-default"></div>
  <section class="section-lg container pb-0 d-flex flex-column">
    <h1 class="display-3 text-white">La institución</h1>
    <p class="text-white text-justify">
      <!-- La Universidad Nacional Experimental Politécnica (UNEXPO), a través de la
      Dirección de Investigación y Postgrado ofrece a los profesionales, la
      oportunidad de cursar estudios de cuarto nivel en diversas áreas de
      Maestrías, Especializaciones Técnicas y Profesionales. -->
      Nuestra Universidad, pone al servicio del País, de Latinoamérica y el
      mundo, sus capacidades y fortalezas académicas, técnicas y de
      investigación, a fin de contribuir en la construcción de soluciones para
      la mejora de los procesos productivos y con ello a la calidad de vida de
      los ciudadanos, sin dejar de lado la preservación del medio ambiente.
    </p>
  </section>
</div>
<section class="section section-lg" id="institution">
  <div class="container">
    <div class="align-items-center">
      <div class="col-md-12 order-md-1 wrap p-0">
        <div class="col-md-7">
          <h3 class="font-weight-500">RESEÑA HISTÓRICA</h3>
          <span>
            <img src="assets/img/unexpo.jpg" alt="" />
          </span>
          <p class="text-justify font-weight-400">
            La Universidad Nacional Experimental Politécnica “Antonio José de
            Sucre”, fue creada el 20 de febrero de 1979 por el Ejecutivo
            Nacional, de conformidad con los artículos 10 de la Ley de
            Universidades y 3 del decreto No. 3087. <br /><br />
            La base histórica de la UNEXPO, que ostenta el lema de “La
            Universidad Técnica del Estado Venezolano”, está conformada por una
            vasta experiencia acumulada en largos años de servicios al país,
            distribuidos en los antiguos institutos politécnicos que le dieron
            su origen: Instituto Universitario Politécnico de Barquisimeto
            (1962), el Instituto Universitario Politécnico de Guayana (1971) y
            el Instituto Universitario Politécnico “Luis Caballero Mejías”, de
            Caracas (1974), sedes que hoy sirven de asiento a los tres
            vicerrectorados, agregándose sus núcleos ubicados en Guarenas
            (1981), Charallave (1983) y Carora (1984).<br /><br />
            Esta casa de estudios tiene como norte la formación del recurso
            humano y el logro de la excelencia académica, hecho que se refleja
            en sus egresados y en el quehacer humanístico, científico y
            tecnológico de sus centros de investigación, donde se han diseñado
            las estrategias pertinentes y los mecanismos necesarios para
            solucionar problemas del parque industrial, de la pequeña y mediana
            empresa y de los sectores siderúrgicos, eléctrico. Sus carreras de
            ingeniería, cursos de actualización, postgrados a nivel de maestrías
            y especialización, asistencia técnica y asesoramiento en proyectos
            industriales, colocan a nuestra universidad a la vanguardia en el
            sector de educación superior venezolana.
          </p>
        </div>
        <div class="col-md-5 pl-3">
          <div class="card bg-gradient-info shadow-lg border-0 mb-3">
            <div class="p-3">
              <div class="align-items-center">
                <div class="">
                  <h3 class="text-white">MISIÓN</h3>
                  <p class="text-white mt-3 text-justify">
                    La UNEXPO como institución pública de educación superior,
                    fundamentalmente, en el área de la ingeniería y de la
                    tecnología, tiene como Misión contribuir con el desarrollo
                    humano, científico y tecnológico del país, al cumplir las
                    funciones básicas universitarias: Docencia, Investigación y
                    Extensión, con significación social y con un alto nivel de
                    calidad.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="card bg-gradient-info shadow-lg border-0">
            <div class="p-3">
              <div class="align-items-center">
                <div class="">
                  <h3 class="text-white">VISIÓN</h3>
                  <p class="text-white mt-3 text-justify">
                    La UNEXPO tiene como Visión, ser una institución de
                    educación superior que conjuga aspiraciones, conocimientos,
                    habilidades, competencias, valores, actividades,
                    procedimientos, procesos y ambientes con los diversos
                    sectores sociales y el Estado, con el propósito de: (a) dar
                    formación permanente e integral, fundamentalmente, en el
                    área de la ingeniería y la tecnología, con un alto nivel de
                    calidad, (b) generar, divulgar y aplicar conocimientos
                    socialmente significativos y (c) dar un uso social a ese
                    conocimiento. Contribuyendo así al desarrollo del país:
                    generando comportamiento ciudadano de democracia y
                    participación, formando profesionales en el área
                    tecnológica, creando ocupaciones de calidad, introduciendo
                    modificaciones en el proceso productivo, estimulando el
                    desarrollo tecnológico, interviniendo en la corrección de
                    desequilibrios sociales, asegurando la base de sustentación
                    ecológica y aportando soluciones, políticamente viables e
                    históricamente relevantes, a las necesidades de
                    transformación de la sociedad para la construcción de un
                    futuro mejor.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-3">
        <h3 class="font-weight-500">SEDES</h3>
        <div class="col">
          <h3>Vice-Rectorado Barquisimeto</h3>
          <p style="margin-left: 15px; font-weight: 400;">Núcleo Carora</p>
          <h3>Vice-Rectorado "Luis Caballero Mejías"</h3>
          <p style="margin-left: 15px; font-weight: 400;">Núcleo Charallave</p>
          <p style="margin-left: 15px; font-weight: 400;">Núcleo Guarenas</p>
          <h3>Vice-Rectorado Puerto Ordaz</h3>
        </div>
      </div>
    </div>
  </div>
</section>
